<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientKey</key>
	<string>8awrefD79RaybyI0SS0pGAP4XsA8owM5to66iOm9</string>
	<key>ApplicationKey</key>
	<string>A2CVP1bVaNR4vXj0wPxE1fm14zMKkUHn1PuLape9</string>
</dict>
</plist>
